<div class="container" style="z-index:1">
  <app-header></app-header>
  <app-profile></app-profile>
  <div class="row">
    <div class="col">
      <app-resume></app-resume>
    </div>
    <div class="col">
      <app-print></app-print>
    </div>
  </div>
  <app-menu></app-menu>
  <div class="p-2">
    <app-projects></app-projects>
  </div>
  <app-slidingcard></app-slidingcard>
  <app-skills></app-skills>
  <app-games></app-games>
  <app-footer></app-footer>
  <div class="mt-5">
  </div>
</div>
