<div class="container" style="z-index:1">
  <app-header></app-header>
  <app-profile></app-profile>
  <div class="row" *ngIf="screenWidth > 450">
    <div class="col-12 col-md-6">
      <app-resume></app-resume>
    </div>
    <div class="col-12 col-md-6">
      <app-print></app-print>
    </div>
  </div>
  <app-menu></app-menu>
  <div class="p-2" id="projects">
    <app-projects></app-projects>
  </div>
  <span id="books">
    <app-slidingcard></app-slidingcard>
  </span>
  <span id="skills">
    <app-skills></app-skills>
  </span>
  <span id="games">
    <app-games></app-games>
  </span>
  <app-footer></app-footer>
  <div class="mt-5">
  </div>
</div>
