<div class="justify-content-md-center">
  <div class="row profile-title">
  <div class="col-12 col-md-2 img-div">
    <img src="assets/profile.svg" class="img-fluid rounded img-style">
  </div>
  <div class="col-12 col-md-10">
    <div class="card border-0">
      <div class="card-body global-bg-color profile-detail">
        <h2 class="card-title">Hi !  I'm Saurabh.</h2>
        <h3 class="card-text tech-detail">I Code, Teach and Play</h3>
        <p>
          <a href="https://www.linkedin.com/in/saurabhksunny/" class="fa fa-linkedin px-2"></a>
          <a href="https://github.com/skyup259" class="fa fa-github px-2"></a>
          <a href="https://twitter.com/Kumar259Saurabh" class="fa fa-twitter px-2"></a>
          <a href="http://instagram.com/saurabh_ksunny?igshid=1lm6ej4rqui8i" class="fa fa-instagram px-2"></a>
          <a href="https://www.facebook.com/people/Saurabh-K-Sunny/100002708935041" class="fa fa-facebook px-2"></a>
          <a href="#/" class="fa fa-codepen px-2"></a>
          <a href="#/" class="fa fa-quora px-2"></a>
        </p>
      </div>
    </div>
  </div>
  </div>
  <div class="row profile-subtitle">
    <div class="col">
      <div class="card-body">
        <h2 class="card-title align-left outline-dashed"><a href="#" class="btn global-bg-color"><h2> <i class="fa fa-play"></i>whoami</h2></a></h2>
        <h4 class="card-text pt-0">
          <p>I am Saurabh Kumar Sunny, a young creative mind from India</p>
          <p>Scroll on to learn more about my creations and interests.  <i class="fa fa-star"></i></p>
        </h4>
      </div>
    </div>
  </div>
</div>
