<div class="justify-content-md-center">
  <div class="row profile-title">
  <div class="col-12 col-md-2 img-div">
    <img src="assets/profile.jfif" class="img-fluid rounded img-style">
  </div>
  <div class="col-12 col-md-10">
    <div class="card border-0">
      <div class="card-body global-bg-color">
        <h2 class="card-title">Hi !  I'm Saurabh.</h2>
        <h3 class="card-text">I Code, Teach and Play</h3>
        <p>
          <a href="#" class="fa fa-linkedin px-2"></a>
          <a href="#" class="fa fa-github px-2"></a>
          <a href="#" class="fa fa-twitter px-2"></a>
        </p>
      </div>
    </div>
  </div>
  </div>
  <div class="row profile-subtitle">
    <div class="col">
      <div class="card-body">
        <h2 class="card-title"><a href="#" class="btn global-bg-color"><h2>whoami</h2></a></h2>
        <h3 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem maiores eveniet nisi ad rerum animi. Cumque ullam eveniet mollitia deleniti?
        </h3>

      </div>
    </div>
  </div>
</div>
