.profile-subtitle, .profile-title{
  padding: 20px 0;
}

.global-bg-color {
  background-color: #ebebeb;
}

.card-body {
  padding: 0rem;
}

.card-title a{
  padding-left: 0;
}

.card-text {
  padding: 1rem;
}

.tech-detail {
  padding: 0;
}

.fa-play{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  margin-right: 0.7rem;
  font-size: 1.4rem;
}

.fa-star{
  color: orange
}

@media (max-width: 450px) {
  .img-style {
    height: 100px;
    max-width: 100px;
  }

  .img-div {
    text-align: center;
  }

  .profile-subtitle{
    padding: 0px 0;
  }

  .card-body {
    text-align: center;
    font-size: 1rem;
  }

  .card-body h2{
    font-size: 28px;
  }

  .card-body h3{
    font-size: 20px;
  }

  .card-text p {
    font-size: 1rem;
  }

  .card-title {
    margin-top: 1rem;
  }

  .align-left {
    text-align: left;
    padding-left: 26px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .align-left h2 {
    font-size: 20px;
  }

  .profile-title {
    padding-bottom: 0;
  }

  .fa-play {
    font-size: 1rem;
  }

  .outline-dashed h2{
    padding: 2px;
    padding-left: 5px;
    outline: 1px dashed;
    padding-top: 0px;
  }

  .profile-detail p {
    margin-top: 0 !important;
  }

}

@media (min-width: 450px) and (max-width: 1050px) {
  .profile-detail p {
    margin-top: 1rem !important;
  }
}

p .fa {
  font-size: 26px;
}

.profile-detail p {
  margin-top: 3rem;
}

.fa-spin {
  -webkit-animation: fa-spin 10s infinite linear;
  animation: fa-spin 10s infinite linear;
}
