.ruler {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1rem solid rgba(0, 0, 0, 0.1);
}

.opacity-6 {
  opacity: .6;
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateX(0deg);
}

.card-back {
  transform: rotateX(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateX(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateX(0deg);
}

.global-bg-color {
  background-color: #ebebeb;
}

@media (max-width: 450px) {
  .px-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .card-body {
    padding: 0.25rem;
  }

  .ruler {
    margin-top: 0;
  }
}
