<div class="rounded">
  <div class="row px-5 mt-4 rounded">
    <div class="col-12 ruler rounded"></div>
  </div>
  <div class="row">
    <div class="col-12 px-5">
      <h3>Projects</h3>
    </div>
  </div>
  <!-- Project from current-->
  <div class="px-5 mt-2">
    <div class="card card-flip rounded border-left-0 border-right-0 global-bg-color">
      <div class="row card-front rounded">
        <div class="card-body">
          <h4 class="card-title">Provider Lookup Online - 09</h4>
          <p class="card-text opacity-6">Oct, 2019 - Current</p>
        </div>
      </div>
      <div class="row card-back rounded border-left-0 border-right-0">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio perferendis voluptatum
            magni. Earum non delectus officiis accusantium, autem aliquid repellat! Quod quibusdam quaerat fugiat odit
            explicabo dolor sint voluptas harum!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="px-5">
    <div class="card card-flip rounded border-left-0 border-right-0 global-bg-color border-top-0">
      <div class="row card-front rounded">
        <div class="card-body">
          <h4 class="card-title">Hytrust</h4>
          <p class="card-text opacity-6">March, 2019 - Sep, 2019</p>
        </div>
      </div>
      <div class="row card-back rounded border-left-0 border-right-0">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio perferendis voluptatum
            magni. Earum non delectus officiis accusantium, autem aliquid repellat! Quod quibusdam quaerat fugiat odit
            explicabo dolor sint voluptas harum!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="px-5">
    <div class="card card-flip rounded border-left-0 border-right-0 global-bg-color border-top-0">
      <div class="row card-front rounded">
        <div class="card-body">
          <h4 class="card-title">Armor Scientific</h4>
          <p class="card-text opacity-6">Nov, 2018 - March, 2019</p>
        </div>
      </div>
      <div class="row card-back rounded border-left-0 border-right-0">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio perferendis voluptatum
            magni. Earum non delectus officiis accusantium, autem aliquid repellat! Quod quibusdam quaerat fugiat odit
            explicabo dolor sint voluptas harum!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="px-5">
    <div class="card card-flip rounded border-left-0 border-right-0 global-bg-color border-top-0">
      <div class="row card-front rounded">
        <div class="card-body">
          <h4 class="card-title">Apptus - Config Price Quote</h4>
          <p class="card-text opacity-6">Feb, 2018 - Oct, 2018</p>
        </div>
      </div>
      <div class="row card-back rounded border-left-0 border-right-0">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio perferendis voluptatum
            magni. Earum non delectus officiis accusantium, autem aliquid repellat! Quod quibusdam quaerat fugiat odit
            explicabo dolor sint voluptas harum!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="px-5">
    <div class="card card-flip rounded border-left-0 border-right-0 global-bg-color border-top-0">
      <div class="row card-front rounded">
        <div class="card-body">
          <h4 class="card-title">Ifusion</h4>
          <p class="card-text opacity-6">Sep, 2018 - Feb, 2018</p>
        </div>
      </div>
      <div class="row card-back rounded border-left-0 border-right-0">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio perferendis voluptatum
            magni. Earum non delectus officiis accusantium, autem aliquid repellat! Quod quibusdam quaerat fugiat odit
            explicabo dolor sint voluptas harum!</p>
        </div>
      </div>
    </div>
  </div>
</div>
