<div class="rounded">
  <div class="row px-5 mt-4 rounded">
    <div class="col-12 ruler rounded"></div>
  </div>
  <div class="row">
    <div class="col-12 px-5">
      <h3>Games</h3>
    </div>
  </div>
  <div class="px-5 mt-2 rounded">
    <ngb-carousel class="bgColor "
  [showNavigationArrows]="false"
  [showNavigationIndicators]="true"
  interval="5000">
    <ng-template ngbSlide *ngFor="let number of numbers; let i = index">
      <div>
      <div class="row px-5 mt-1 align-center">
        <div class="col-4 col-md-2 pl-2 p-bottom-40" *ngFor="let data of data.slice(i, i+ numberOfGames)">
          <div class="card bgColor">
            <h1 class="card-title ml-1">
              <img class="svg-icon" [ngClass]="{'shake': !data.animation, 'fa-spin': data.animation, 'fa-1x': data.animation}" [src]="data.path">
            </h1>
          </div>
        </div>
      </div>
    </div>
    </ng-template>
    </ngb-carousel>
  </div>

</div>
