.card {
  border: none;
}

.ruler {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1rem solid rgba(0, 0, 0, 0.1);
}

.p-bottom-40 {
  margin-bottom: 40px;
}

.bgColor {
  background-color: #ebebeb;
}

.svg-icon {
  height: 6rem;
  fill: #007bff;
}

@media only screen and (max-width: 450px) {
  .svg-icon {
    height: 3rem;
  }

  .px-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (min-width: 450px) and (max-width: 800px) {
  .svg-icon {
    height: 5rem;
  }
}
