.card {
  border: none;
}

.ruler {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1rem solid rgba(0, 0, 0, 0.1);
}

.p-bottom-40 {
  margin-bottom: 40px;
}

.bgColor {
  background-color: #ebebeb;
}

.svg-icon {
  height: 6rem;
  width: 6rem;
  fill: #007bff;
}


.carousel-item {
  display: block !important;
  z-index: 1;
  position: absolute;
  transition: opacity 1.5s easy-in-out, visibility 1s;
  opacity: 0;
  visibility: hidden;
}

.carousel-item.active {
  position: relative;
  transition: opacity 1.5s easy-in-out, visibility 1s;
  visibility: visible;
  opacity: 1;
}

.card {
  border: none;
}

.carousel:focus {
  outline: none !important;
}

@media only screen and (max-width: 450px) {
  .svg-icon {
    height: 4.5rem;
    width: 4.5rem;
  }

  .px-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .ruler {
    margin-top: 0;
  }
}

@media (min-width: 450px) and (max-width: 800px) {
  .svg-icon {
    height: 5rem;
    width: 5rem;
  }
}


.shake {
  animation: shake 1.5s;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.fa-spin {
  -webkit-animation: fa-spin 10s infinite linear;
  animation: fa-spin 10s infinite linear;
}
