<div class="rounded">
  <div class="row px-5 mt-4 rounded">
    <div class="col-12 ruler rounded"></div>
  </div>
  <div class="row">
    <div class="col-12 px-5">
      <h3>Games</h3>
    </div>
  </div>

  <div class="px-5 mt-2 rounded">
    <div class="row px-5 mt-1 align-center">
      <div class="col-6 col-md-2 pl-2 p-bottom-40">
        <div class="card bgColor" >
          <h1 class="card-title ml-1">
            <img class="svg-icon" src='assets/carrom.svg' >
          </h1>
        </div>
      </div>
      <div class="col-6 col-md-2 pl-2 p-bottom-40">
        <div class="card bgColor" >
          <h1 class="card-title ml-1">
            <img class="svg-icon" src='assets/sports_tennis-black-18dp.svg' >
          </h1>
        </div>
      </div>
      <div class="col-6 col-md-2 pl-2 p-bottom-40">
        <div class="card bgColor" >
          <h1 class="card-title ml-1">
            <img class="svg-icon" src='assets/cricket.svg' >
          </h1>
        </div>
      </div>
      <div class="col-6 col-md-2 pl-2 p-bottom-40">
        <div class="card bgColor" >
          <h1 class="card-title ml-1">
            <img class="svg-icon" src='assets/football.svg' >
          </h1>
        </div>
      </div>
      <div class="col-6 col-md-2 pl-2 p-bottom-40">
        <div class="card bgColor" >
          <h1 class="card-title ml-1">
            <img class="svg-icon" src='assets/ping-pong.svg' >
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
