<div class="row justify-content-md-center bg-success rounded p-3 m-2">
  <div class="col-sm border border-primary border-left-0 border-top-0 border-left-0 border-bottom-0">
    <div class="row">
      <h2 class="col-2"><a pageScroll href="#projects" class="fa fa-files-o"></a></h2>
      <div class="col-10"><h3>Projects</h3></div>
    </div>
  </div>
  <div class="col-sm border border-primary border-left-0 border-top-0 border-left-0 border-bottom-0">
    <div class="row">
      <h2 class="col-2"><a pageScroll href="#skills" class="fa fa-cogs"></a></h2>
      <div class="col-10"><h3>Skills</h3></div>
    </div>
  </div>
  <div class="col-sm border border-primary border-left-0 border-top-0 border-left-0 border-bottom-0">
    <div class="row">
      <h2 class="col-2"><a pageScroll  href="#books" class="fa fa-book"></a></h2>
      <div class="col-10"><h3>Books</h3></div>
    </div>
  </div>
  <div class="col-sm border border-primary border-left-0 border-top-0 border-left-0 border-bottom-0">
    <div class="row">
      <h2 class="col-2"><a pageScroll  href="#books" class="fa fa-rss-square"></a></h2>
      <div class="col-10"><h3>Blog</h3></div>
    </div>
  </div>
  <div class="col-sm">
    <div class="row">
      <h2 class="col-2"><a pageScroll pageScroll href="#games" class="fa fa-gamepad"></a></h2>
      <div class="col-10"><h3>Games</h3></div>
    </div>
  </div>
</div>
